
node_modules
mochawesome-report
zkp/src/vkIds.json
zkp/migrations
zkp/code
zkp-utils/node_modules
offchain/migrations
account-utils
ui
API-Gateway
database
offchain
zkp
integration-test
docker-entrypoint-initdb.d