package.json
package-lock.json
zkp/src/vkIds.json
zkp/migrations
zkp/code
zkp-utils/node_modules
offchain/migrations
ui
API-Gateway
database
zkp
zkp-utils
account-utils
integration-test
docker-entrypoint-initdb.d
mochawesome-report
docs
README.md
security-updates.md
SECURITY.md
UI.md
license.md
limitations.md
.github