/* @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css); */
/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
.box-shad {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.box-shad-wc {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.custom-body {
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
.cursorPointer {
  cursor: pointer;
}
label {
  font-weight: bold;
}
.btn {
  cursor: pointer;
}
.table,
.table th,
.table tr {
  border-color: rgba(0, 0, 0, 0.15) !important;
}
.table th {
  border-bottom-width: 1px !important;
}
span.close-btn {
  display: block;
  transition: 0.5s all;
  color: white;
}
button:focus {
  outline: none !important;
}
.box {
  background: #fff;
  /* box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2); */
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  border-radius: 2px;
}
.box-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 20px 5px 20px;
  border-top: 4px solid rgb(19, 37, 43);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.box-body {
  padding: 20px;
}
span.close-btn:hover {
  display: block;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  transform-origin: 45% 55%;
}
.fa-times:before {
  font-size: 115% !important;
}
.wrapper {
  background: rgb(255, 255, 255);
}
i:focus {
  outline: none !important;
}
.no-outline:focus {
  outline: none !important;
}
.card {
  border: none !important;
}
.custom-select-sm {
  font-size: 90% !important;
}
.card,
.card-footer {
  border-radius: 0px !important;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.input-group-append {
  margin-left: -2px;
  display: flex;
  cursor: pointer;
}
input {
  border-color: #ced4da !important;
}
.dollar {
  color: green;
}
.fa-pseudo {
  border: none !important;
  background: none !important;
  outline: none !important;
  padding: 3px 4px !important;
}
.fa-pseudo:hover {
  background: #efefef !important;
}
.fa-pseudo:focus {
  background: grey !important;
}
.dropdowntoggle:focus {
  outline: none !important;
}
.listitem {
  box-shadow: 2px 5px 10px 0px rgba(46, 61, 73, 0.15);
  border: 0;
}
.dropdowntoggle {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu:focus {
  outline: none !important;
}
.dropdowntoggle a:hover {
  text-decoration: none;
}
.dropdown-toggle::after {
  border: 0;
}
.form-control:focus,
.btn:focus,
.btn-info:focus {
  box-shadow: none !important;
}
.btn {
  min-width: initial !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.81rem;
  transition: all 0.2s ease-in-out;
  margin: 0;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.ft-commitment{
  padding-top: 0.49rem;
  padding-bottom: 0.49rem;
}
.btn-primary {
  background-color: #13252b !important;
  color: #fff !important;
}
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.breadcrumb a {
  color: #3d1e4e !important;
}
.breadcrumb > li + li:before {
  content: '»\00a0';
}

.breadcrumb {
  padding-bottom: 5px;
}
.breadcrumb a {
  color: #3d1e4e !important;
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb {
  background: none;
  padding-left: 0;
  font-size: 16px;
  padding-top: 0;
}
h3 {
  font-size: 20px;
}
body {
  /* background-color: #f6f5f5; */
  background-color: white;
  font-size: 15px;
}
.dropdown-menu {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2) !important;
}
.dropdowntoggle:hover {
  background-color: #c1c1c1 !important;
}
/* .wrapper{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAgMAAADQNkYNAAAADFBMV…9flucvy/OX5fnL8vxlef6yPH9Znr8sz1+W5y/L85f/M3/5BZ+/aGtuVoTFAAAAAElFTkSuQmCC), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
    background-size: 100px 100px, cover;
    color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
  } */
.err-msg {
  color: red;
}
.succ-msg {
  color: green;
}
.color-white {
  color: white;
}

.google-visualization-orgchart-table table {
  border-collapse: separate !important;
}
.google-visualization-orgchart-table {
  border-collapse: separate !important;
}
.custom-chart table {
  border-collapse: separate !important;
}
.google-visualization-orgchart-node {
  color: #ffffff;
  font-size: 12px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-family: arial, helvetica !important;
  cursor: default !important;
  border: 0px solid #191919 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px !important;
  background: #302e2e !important;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#a3a2a2), to(#a3a2a2)) !important; */
  /* background: -webkit-linear-gradient(top,#ffffff  0%,#ffffff 50%,#ffffff 51%,#ffffff 100%) !important; */
}
.google-visualization-orgchart-node::before {
  content: '\f1b2  ' !important;
  color: #15aabf;
  font-family: FontAwesome !important;
}
.google-visualization-orgchart-lineleft {
  border-left: 2px solid #000000 !important;
}
.google-visualization-orgchart-linebottom {
  border-bottom: 2px solid #000000 !important;
}
.google-visualization-orgchart-lineright {
  border-right: 2px solid #000000 !important;
}

.modal-dialog {
  margin-left: 25%;
}
.modal-custom-header {
  background-color: #1c2a48;
  color: white;
}
.modal-success-header {
  background-color: #133b66;
  color: white;
}
.custom-container {
  margin-top: 40px;
}
.padding-left {
  margin-left: 15px;
  margin-top: 15px;
}

.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-top: 50px !important;
  max-width: 1500px !important;
}
html {
  height: auto !important;
}
.swal2-modal {
  z-index: 9999 !important;
  left: 46% !important;
}
.swal2-modal.show-swal2.visible {
  width: auto !important;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.breadcrumb {
  background-color: transparent;
}
.spinner {
  margin-top: 30%;
}
.loading-text {
  color: rgb(46, 209, 195);
}

.token-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  /* padding: 10px; */
  text-align: center;
  border: 1px solid white;
  margin-bottom: 20px;
  cursor: pointer;
}
.token-card .header {
  background: #13252b;
  color: white;
  padding: 9px;
}
.token-card.active {
  border: 1px solid #13252b;
  /* background-color: #13252b; */
  /* color: white; */
}
.token-card.active span,
.token-card:hover span {
  color: #13252b;
}
.token-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* background-color: #13252b; */
}
.spinner > div {
  background-color: rgb(46, 209, 195);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.text-info {
  color: #00bc8a !important;
}
.btn-cstm {
  background-color: #00bc8a !important;
  border-color: #00bc8a !important;
  color: white;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.modal-content {
  width: 700px !important;
}
a,
.cursor-pointer {
  cursor: pointer !important;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #13252b;
  color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #13252b;
}

.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgba(0, 0, 0, 0.15);
  color: #333;
}

.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: #13252b;
}
.custom.ng-dropdown-panel .scroll-host {
  background-color: #fff;
}
.custom.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #fff;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.textCapitalize {
  text-transform: capitalize;
}
.text-box {
  width: 45%;
}

.text-box:focus,
.simple-text:focus {
  box-shadow: 1px 1px 10px rgba(81, 203, 238, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
