<app-nav> </app-nav>
<div class="container overview">
  <div class="col-md-12  pt-5">
    <h3 class="mb-2">Account Balance</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <a [routerLink]="['/nft/list']">
              <div class="card">
                <div class="card-body">
                  <h3 *ngIf="count">{{ nftBalance }}</h3>
                  <p class="card-text">
                    ERC-721: {{ nftName || 'Public Tokens' }}
                    <span *ngIf="nftSymbol">({{ nftSymbol }})</span>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a [routerLink]="['/nft-commitment/list']">
              <div class="card">
                <div class="card-body">
                  <h3 *ngIf="count">{{ count.nftCommitmentCount ? count.nftCommitmentCount : '0' }}</h3>
                  <p class="card-text">{{ nftName }} Commitments</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h3>{{ ftBalance }}</h3>
                <p class="card-text">
                  ERC-20: {{ ftName || '' }} <span *ngIf="ftSymbol">({{ ftSymbol }})</span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <a [routerLink]="['/ft-commitment/list']">
              <div class="card">
                <div class="card-body">
                  <h3 *ngIf="count">{{ count.ftCommitmentCount ? count.ftCommitmentCount : '0' }}</h3>
                  <p class="card-text">{{ ftName }} Commitments</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h3 class="mb-2">Actions</h3>
        <div class="row mb-3">
          <div class="col-md-3">
            <a class="btn btn-primary btn-list" [routerLink]="['/nft/mint']"
              >Mint {{ nftName || 'Public Token' }}</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/nft/transfer']"
              >Transfer {{ nftName || 'Public Token' }}</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/nft/burn']"
              >Burn {{ nftName || 'Public Token' }}</a
            >
          </div>

          <div class="col-md-3">
            <a class="btn btn-primary btn-list" [routerLink]="['/nft-commitment/mint']"
              >Mint {{ nftName }} Commitment</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/nft-commitment/transfer']"
              >Transfer {{ nftName }} Commitment</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/nft-commitment/burn']"
              >Burn {{ nftName }} Commitment</a
            >
          </div>

          <div class="col-md-3">
            <a class="btn btn-primary btn-list" [routerLink]="['/ft/mint']"
              >Mint {{ ftName || '' }}</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/ft/transfer']"
              >Transfer {{ ftName || '' }}</a
            >
            <a class="btn btn-primary btn-list" [routerLink]="['/ft/burn']"
              >Burn {{ ftName || '' }}</a
            >
          </div>

          <div class="col-md-3">
            <a class="btn btn-primary btn-list ft-commitment" [routerLink]="['/ft-commitment/mint']"
              >Mint {{ ftName }} Commitment</a
            >
            <a class="btn btn-primary btn-list ft-commitment" [routerLink]="['/ft-commitment/transfer']"
              >Transfer {{ ftName }} Commitment</a
            >
            <a class="btn btn-primary btn-list ft-commitment" [routerLink]="['/ft-commitment/batch-transfer']"
              >Batch Transfer {{ ftName }} Commitment</a
            >
            <a class="btn btn-primary btn-list ft-commitment" [routerLink]="['/ft-commitment/burn']"
              >Burn {{ ftName }} Commitment</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row   mb-3">
      <div class="col-sm-12">
        <h3 class="mb-2">Transactions History</h3>
        <ngb-tabset activeId="{{ selectedTab }}">
          <ngb-tab id="nft">
            <ng-template ngbTabTitle>
              <div (click)="getTransactions('nft')">
                <strong>{{ nftName }}</strong>
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <table class="table  table-hover">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Token ID</th>
                    <th>URI</th>
                    <th>Date</th>
                    <th>Send To</th>
                    <th>Received from</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of nftTransactions">
                    <td>{{ transaction.type.toUpperCase() }}</td>
                    <td [title]="transaction.token_id">
                      {{ transaction.token_id.slice(0, 20) }}....
                    </td>
                    <td>{{ transaction.uri }}</td>
                    <td>{{ transaction.created_at | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                    <td>
                      {{
                        transaction.type !== 'received' && transaction.receiver
                          ? transaction.receiver
                          : ''
                      }}
                    </td>
                    <td>
                      {{
                        transaction.type === 'received' && transaction.sender
                          ? transaction.sender
                          : ''
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                *ngIf="isPagination"
                class="d-flex justify-content-end zkp-pagination"
                (pageChange)="pageChanged($event)"
                [collectionSize]="totalCollection | async"
                [pageSize]="pageSize"
                [(page)]="pageNo"
                aria-label="Default pagination"
              ></ngb-pagination>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="nft-commitment">
            <ng-template ngbTabTitle>
              <div (click)="getTransactions('nft-commitment')">
                <strong>{{ nftName }} Commitment</strong>
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <table class="table  table-hover">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Token ID</th>
                    <th>URI</th>
                    <th>Date</th>
                    <th>Send To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of nftCommitmentTransactions">
                    <td>{{ transaction.type.toUpperCase() }}</td>
                    <td [title]="transaction.token_id">
                      {{ transaction.token_id.slice(0, 20) }}....
                    </td>
                    <td>{{ transaction.token_uri }}</td>
                    <td>{{ transaction.created_at | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                    <td>{{ transaction.receiver || transaction.receiver_name ? (transaction.receiver || transaction.receiver_name) : '' }}</td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                *ngIf="isPagination"
                class="d-flex justify-content-end zkp-pagination"
                (pageChange)="pageChanged($event)"
                [collectionSize]="totalCollection | async"
                [pageSize]="pageSize"
                [(page)]="pageNo"
                aria-label="Default pagination"
              ></ngb-pagination>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="ft">
            <ng-template ngbTabTitle>
              <div (click)="getTransactions('ft')">
                <strong>{{ ftName }}</strong>
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <table class="table  table-hover">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Send To</th>
                    <th>Received From</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of ftTransactions">
                    <td>{{ transaction.transaction_type.toUpperCase() }}</td>
                    <td>{{ ftSymbol + ' ' + transaction.value }}</td>
                    <td>{{ transaction.created_at | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                    <td *ngIf="transaction.transaction_type === 'transfer_outgoing'">
                      {{ transaction.receiver ? transaction.receiver.name : '' }}
                    </td>
                    <td *ngIf="transaction.transaction_type !== 'transfer_outgoing'"></td>
                    <td *ngIf="transaction.transaction_type === 'transfer_incoming'">
                      {{ transaction.sender ? transaction.sender.name : '' }}
                    </td>
                    <td *ngIf="transaction.transaction_type !== 'transfer_incoming'"></td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                *ngIf="isPagination"
                class="d-flex justify-content-end zkp-pagination"
                (pageChange)="pageChanged($event)"
                [collectionSize]="totalCollection | async"
                [pageSize]="pageSize"
                [(page)]="pageNo"
                aria-label="Default pagination"
              ></ngb-pagination>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="ft-commitment">
            <ng-template ngbTabTitle>
              <div (click)="getTransactions('ft-commitment')">
                <strong>{{ ftName }} Commitment</strong>
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <table class="table  table-hover ft-commitment-table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Commitment</th>
                    <th>Date</th>
                    <th>Send To</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let transaction of ftCommitmentTransactions; index as i">
                    <tr>
                        <td [ngClass]="{'active fas collapsed': (transaction.type === 'transferred' || transaction.type === 'batchTransfer' ), 'fa-angle-right': ( aria-expanded === false)}" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i">
                          {{ transaction.type.toUpperCase() }}
                        </td>
                        <td>{{ ftSymbol + ' ' + utilService.convertToNumber(transaction.ft_commitment_value) }}</td>
                        <td [title]="transaction.ft_commitment">{{ transaction.ft_commitment }}</td>
                          <td>{{ transaction.created_at | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          <td *ngIf="transaction.type === 'transferred' || transaction.type === 'burned'">
                            {{ transaction.receiver ? transaction.receiver : '' }}
                          </td>
                          <td *ngIf="transaction.type !== 'transferred'"></td>
                        </tr>
                        <tr>
                          <td class="collapse-row details-pane" colspan="5">
                            <div [attr.id]="'collapse-' + i" class="collapse out">
                              <table class="details-table table table-striped" *ngIf="transaction.type === 'transferred'">
                                <tr>
                                  <th>Used Amount</th>
                                  <th>Used Commitment</th>
                                </tr>
                                <tr *ngFor="let used_commitments of transaction.used_ft_commitments; index as i">
                                    <td>{{ ftSymbol +' ' +utilService.convertToNumber(used_commitments.ft_commitment_value) }}</td>
                                    <td>{{used_commitments.ft_commitment}}</td>
                                </tr>                               
                              </table>
                              <table class="details-table table table-striped" *ngIf="transaction.type === 'batchTransfer'">
                                  <tr>
                                    <th>Transferred Amounts</th>
                                    <th>Transferred Commitments</th>
                                    <th>Receiver Names</th>
                                  </tr>
                                  <tr *ngFor="let commitments of transaction.batch_transfer; index as i">
                                      <td>{{ ftSymbol +' ' +utilService.convertToNumber(commitments.ft_commitment_value) }}</td>
                                      <td>{{ commitments.ft_commitment }}</td>
                                      <td>{{ commitments.receiver }}</td>
                                  </tr>                               
                                </table>
                            </div>
                          </td>
                      </tr>
                  </ng-container>
                </tbody>
              </table>
              <ngb-pagination
                *ngIf="isPagination"
                class="d-flex justify-content-end zkp-pagination"
                (pageChange)="pageChanged($event)"
                [collectionSize]="totalCollection | async"
                [pageSize]="pageSize"
                [(page)]="pageNo"
                aria-label="Default pagination"
              ></ngb-pagination>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
