<nav class="navbar navbar-expand-md navbar-light nav-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse dual-collapse">
    <h3 class="nav-brndN cursorPointer">
      <i class="fa fa-home pr-2" aria-hidden="true"></i>
      Nightfall
    </h3>
  </div>

  <div class="navbar-collapse collapse dual-collapse">
    <ul class="navbar-nav ml-auto navbar-list">
      <li class="nav-item pt-1" style="color:white">
        <span class="nav-link nav-li avatar" (click)="settings()"
          ><i class="fa fa-user-o pr-2" style="font-size:21px"></i>{{ name }}</span
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-li" (click)="signOut()">
          <i class="fa fa-sign-out fa-9x" aria-hidden="true"></i> Sign Out</a
        >
      </li>
    </ul>
  </div>
</nav>
